@model SiparisApp.Web.Models.BayiListeleEkleDuzenle

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                İsim
            </th>
            <th>
                Telefon
            </th>
            <th>
                Fax
            </th>
            <th>
                Adres
            </th>
            <th>
                Email
            </th>
            <th>
                IllerId)
            </th>
            <th>
                GosterimSirasi
            </th>
            <th>
                Aktif
            </th>
            <th>
                İşlem
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bayilers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IllerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GosterimSirasi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aktif)
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Bayi"
                       asp-action="BayiSil"
                       asp-route-id="@item.Id">sil</a>

                    <a class="btn btn-primary" asp-controller="Bayi"
                       asp-action="BayiDuzenle"
                       asp-route-id="@item.Id">Düzenle</a>

                </td>
            </tr>
        }
    </tbody>
</table>
