

@model SepetModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 text-center mt-5">

    <h1>Sipariş Sepeti</h1>

</div>
<div class="row m-5">
    <div class="col-md-8">
        <div class="text-left">
            <h4>Sepet Bilgileri</h4>
        </div>

        @if (Model.SepetDetails.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam Fiyat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SepetDetails)
                    {
                        <tr>
                            <td>
                                <img src="../../img/Urunler/@item.ImageUrl" width="50" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("c")</td>
                            <td>@item.Quantity</td>
                            <td>@((item.Quantity * item.Price).ToString("c"))</td>
                            <td>
                                <form asp-controller="Sepet" asp-action="SepettenCikart" method="post">
                                    <input type="hidden" name="urunId" value="@item.UrunId" />
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-times fa-fw"></i>
                                    </button>
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="alert alert-warning">
                Sepette ürün yok!
            </div>
        }
    </div>
    <div class="col-md-4">

        @if (Model.SepetDetails.Count > 0)
        {
            <div class="text-left">
                <h4>Sepet Özeti</h4>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Sepet Toplam</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>

                    <tr>
                        <th>Siparis Toplam</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a href="/Urunler" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left fa-fw"></i> Alışverişe Dön
                </a>
                <a href="Sepet/SepettenCikart" class="btn btn-primary">
                    Siparişe Devam Et <i class="fa fa-arrow-circle-right fa-fw"></i>
                </a>
            </div>

        }
    </div>
</div>
